
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }

  header {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url('images/3820574.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  nav {
    width: 100%;
    height: 15%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  nav .logo {
    padding-top: 1px;
    width: 25%;
    text-align: center;
  }

  nav .logo_ashok {
    margin-left: 15rem;
  }

  nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav .menu a:first-child{
    color: #4895ef;
  }

  nav .menu a:first-child:hover {
    color: white;
  }
  
  main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  section .btnone {
    background: #fff;
    color: #000;
  }
  
  .btnone:hover {
    background: #4361ee ;
    color: white;
  }
  
  section .btntwo {
    background: #4361ee;
    color: white;
  }
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  .text {
    color: #4895ef;
  }

  .paragraph{
    background-color: rgba(0, 0, 0, 0.73);
    color: #e0e1dd;
    width: 100%;
    padding:2%;
    size: 20px;
  }

  .column {
    float: center;
    width: 50%;
    padding: 10px;
    height: 300px; 
    text-align: center;
  }

  #row{
    text-align: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    justify-content: center;
    text-align: center;
  }


  .header{
    width: 100%;
    height: 100vh;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
  }
  
  .tab-content{
    text-align: left;
  }

 .side-nav{
    position: fixed;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.2); */
    position: fixed;
    left: -250px;
    width: 250px;
    padding: 20px 30px;
    transition: 0.5s
  }


   .nav-links{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-around
  }
  .nav-links li{
    padding: 10px 0;
   
  }
  .nav-links li a{
    color: #fff;
    background: #219ebc;
    border-radius: 6px;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
  }

  .active{
    left: 0;
  }

  .nav-links li:hover a{
    color: black;
    transition: 0.3s;
  }

  .nav-links li:hover ~ .active{
    display: block;
  }

  .nav-links li:nth-child(1):hover ~.active{
    top: 2.6%;
  }

  .nav-links li:nth-child(2):hover ~.active{
    top: 22.6%;
  }

  .nav-links li:nth-child(3):hover ~.active{
    top: 42.6%;
  }

  .nav-links li:nth-child(4):hover ~.active{
    top: 62.6%;
  }

  .nav-links li:nth-child(5):hover ~.active{
    top: 82.6%;
  }


  .form-box{
    width: 380px;
    height: 75vh;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
  }
  
  .button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #8ecae6;
    border-radius: 30px;
  }
  
  .toggle-btn{
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
  
  #btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #00b4d8,#90e0ef);
    border-radius: 30px;
    transition: 0.5s;
  }

.input-group{
    top: 60px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 30px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn{
  width: 85%;
  padding: 10px 0px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #00b4d8,#90e0ef);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box{
  margin: 30px 10px 30px 0;
}
.condition{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
  }
#login{
  left: 50px;
}
#signup{
  left: 450px;
}
